.poster {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 8rem;
  color: aliceblue;
}

.box {
  display: flex;
  padding: 1rem 1rem;
}

.imagemCentral {
  align-items: center;
  margin-top: 1rem;
}

.imagemCentral img {
  width: 62%;
}

.boxInfos {
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}

.moreInfos {
  gap: 0.5rem;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.moreInfos h1 {
  text-align: center;
  width: 100%;
}

.infosMovies,
.Network {
  width: 45%;
}

.Network {
  align-items: center;
  justify-content: center;
}

.infosMovies {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0.5rem;
}
.networkImagem {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  clip-path: circle();
  background: rgb(255, 255, 255);
}

.networkImagem img {
  width: 15%;
  object-fit: cover;
  justify-content: center;
  margin: 1rem 0;
}

.boxInfos a span {
  color: aliceblue;
}

.VideoYoutube {
  width: 100%;
  height: 25rem;
  justify-content: center;
  margin: 1rem 0;
}

.Video {
  width: 60%;
  height: 100%;
  border-radius: 0.7rem;
}

.section {
  margin-top: 1rem;
  width: 100%;
  padding: 0rem 1rem;
  flex-wrap: wrap;
}

.companies,
.genres {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  text-align: center;
}

/* == ==*/

@media (max-width: 800px) {
  .poster {
    margin-bottom: 12rem;
  }
  .section {
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }

  .poster {
    flex-direction: column;
  }
  .Infos,
  .imagemCentral {
    width: 100%;
    min-height: 30rem;
  }
  .imagemCentral {
    align-items: center;
  }

  .posterInfos {
    padding-top: 1.7rem;
  }

  .imagemCentral img {
    min-width: 400px;
    max-width: 50%;
    border-radius: 0.6rem;
  }

  .section {
    width: 100%;
    height: 100%;
  }
  .VideoYoutube {
    width: 100%;
    height: 15rem;
  }

  .Video {
    width: 80%;
    height: 100%;
  }
}

@media (max-width: 400px) {
  .poster {
    margin-bottom: 6rem;
  }
  .moreInfos {
    flex-direction: column;
  }
  .Network {
    margin: 10px 0;
    padding: 1rem 0;
    width: 100%;
  }
  .infosMovies {
    font-size: 0.8rem;
  }
  .infosMovies span {
    font-size: 0.8rem;
  }
}
