.Seasons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem 1rem;
  flex-wrap: wrap;
  text-align: center;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.section h1 {
  color: rgb(255, 239, 15);
}

.boxInfos h1 {
  font-size: 2.5rem;
}

.quadro {
  margin-top: 1rem;
  width: 23%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.posterImagem {
  display: flex;
  justify-content: center;
  height: 100%;
}

.posterInfos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quadro img {
  height: 100%;
  width: 90%;
  object-fit: cover;
}

@media (max-width: 800px) {
  .Seasons {
    gap: 0.4rem;
    justify-content: center;
  }
  .quadro {
    width: 42%;
    margin-top: 2rem;
    gap: 0rem;
  }
  .quadro img {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .posterImagem {
    height: 100%;
  }
  .quadro {
    gap: 0rem;
  }
  .posterInfos {
    font-size: 0.7rem;
  }
}
