@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  box-sizing: border-box;
}

body {
  padding-top: 6rem;
  margin: 0px;
  color: white;
  --size-primary: 1rem;
  --size-title: 2rem;
  --size-subtitle: 1.5rem;
  background: #000000;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: var(--size-title);
  padding: 0.8rem 0;
}

span {
  font-size: var(--size-primary);
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
  transition: 0.5s ease-in-out;
  border-radius: 8px;
}

img:hover {
  transform: scale(1.04);
}

button,
input {
  display: block;
  font-size: 1rem;
  font-family: var(--type-first);
  color: #000000;
}

a {
  text-decoration: none;
  color: #000000;
}

.container {
  max-width: 70rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.title {
  font-family: var(--type-second);
  line-height: 1;
  font-size: 3rem;
  margin: 1rem 0;
  position: relative;
  z-index: 1;
}

.title::after {
  content: "";
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background: #fb1;
  position: absolute;
  bottom: 5px;
  left: -5px;
  border-radius: 0.2rem;
  z-index: -1;
}

.animeLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft 0.9s forwards;
}

@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}

.App {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 6rem);
}

.padding {
  padding-bottom: 6rem;
}
