.section {
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10000;
  left: 0;
  background: #000000;
  color: var(--color-primary);
  box-shadow: 0px -1px 1px rgba(183, 183, 183, 0.388);
  user-select: none;
  color: aliceblue;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1rem 0rem;
  font-size: 0.9rem;
}

.footer div {
  display: flex;
  gap: 1rem;
}

.footer div span {
  font-weight: 600;
}

.footer div a {
  transition: 0.5s ease-in-out;
}

.footer div a:hover {
  transform: scale(1.1);
}

@media (max-width: 880px) {
  .footer {
    margin: 0.7rem 0;
    gap: 1rem;
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .footer {
    gap: 4px;
    font-size: 0.7rem;
  }
  .business span {
    display: none;
  }
}
