.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  text-align: center;
  height: 65vh;
  user-select: none;
}

.notFound h1 {
  font-size: 4rem;
}

.notFound p {
  font-size: 2rem;
}
